:root {
    --cor-primaria: #117765;
    --cor-secundaria: #2d8f7d;
    --cor-fundo: #48a894;
    --cor-texto: #ffffff;
    --cor-sucesso: #64c0ac;
    --cor-extra: #7fd8c3;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 32px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--cor-sucesso);
    max-width: 50%;
    width: 400px;
    margin-bottom: 20px;

    & button {
        border-radius: 30px;
        background-color: var(--cor-fundo);
        height: 40px;
        border: none;
        font-weight: bold;
        cursor: pointer;
        color: white;
        font-size: 14px;
    }

    & button:hover {
        opacity: 0.8;
    }

    & input {
        border: 1px solid #117765;
        border-radius: 30px;
        height: 40px;
        background-color: var(--cor-extra);
        color: white;
        font-size: 16px;
        padding-left: 10px;
        outline: none;
    }
}

.card {
    display: flex;
    justify-content: space-between;
    background: var(--cor-sucesso);
    margin: 10px;
    padding: 10px;
    width: 400px;
    border-radius: 10px;

    & p {
        color: white;
        font-weight: bold;

        & span {
            font-weight: normal;
        }
    }

    & button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    & button:hover {
        opacity: 0.5;
    }
    & img {
        width: 25px;
        height: 25px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}